* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #111115;
    padding: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    font-size: 20px;
    display: flex;
}

.nav-links li {
    list-style: none;
    padding: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 20px;
}